{% extends 'base.html' %} 


{% block content %}

<h1> Welcome to {{ predator.name }}'s details</h1>
<ul>
    <li> Diet:{{ predator.diet }} </li>
    <li>animal class: {{ predator.animal_class }}</li>
    <li> prey: {{ predator.prey }}</li>

</ul>

<ul>
<li><a href="{% url 'index' %}">All Cats</a></li>
<li><a href="{% url 'predator-update' predator.id %}" >Edit</a></li>
{% comment %} <li> <a href="{% url 'predator-delete' predator.id %}">Delete</a></li> {% endcomment %}
</ul>
{% endblock content %}
    