body {
    background-color: lightseagreen;
}

header {
    margin: 20px 20px 0 20px;
    width: calc(100vw - 40px);
    max-width: 1920px;
    top: 20px;
    background-color: orange;
    border-bottom: none;
  }